<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Customer</h1>
<form action="#" th:action="@{/customer/customers}" th:object="${customer}" method="post">
    <p>Id customer: <input type="number" th:field="*{id}" /></p>
    <p>Surname: <input type="text" th:field="*{surname}" /></p>
    <p>Location: <input type="text" th:field="*{location}" /></p>
    <p>Discount: <input type="number" th:field="*{discount}" /></p>
    <p><input type="submit" value="Add customer" /></p>
</form>

<form action="#" th:action="@{/customer/customers}" th:method = "get">
    <p><input type="submit" value="Get customers" />
</form>

<form action="#" th:action="@{/customer/customers/id}" th:method = "get">
    <p>Get customer id: <input type="number"  name = "id" size="20" /></p>
    <p><input type="submit" value="Get customer" />
</form>

<form action="#" th:action="@{/customer/customers/id}" th:method = "delete">
    <p>Remove customer id: <input type="number"  name = "id" size="20" /></p>
    <p><input type="submit" value="Remove customer" />
</form>

<form action="#" th:action="@{/customer/customers/id}" th:object="${customer}" th:method="put">
    <p>Id customer: <input type="number" th:field="*{id}" /></p>
    <p>Surname: <input type="text" th:field="*{surname}" /></p>
    <p>Location: <input type="text" th:field="*{location}" /></p>
    <p>Discount: <input type="number" th:field="*{discount}" /></p>
    <p><input type="submit" value="Put customer" /></p>
</form>

<form action="#" th:action="@{/customer/customers/id/surname}" th:method="put">
    <p>Id customer: <input type="number"  name = "id" size="20" /></p>
    <p>Surname: <input type="text" name="surname" /></p>
    <p><input type="submit" value="Put surname customer" /></p>
</form>

<form action="#" th:action="@{/customer/customers/id/location}" th:object="${customer}" th:method="put">
    <p>Id customer: <input type="number"  name = "id" size="20" /></p>
    <p>Location: <input type="text" name="location" /></p>
    <p><input type="submit" value="Put location customer" /></p>
</form>

</body>
</html>
