<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Purchase</h1>
<form action="#" th:action="@{/purchase/purchase}" th:object="${purchase}" method="post">
    <p>Id purchase: <input type="number" th:field="*{id}" /></p>
    <p>Id book: <input type="number" th:field="*{idBook}" /></p>
    <p>Id customer: <input type="number" th:field="*{idCustomer}" /></p>
    <p>Id shop: <input type="number" th:field="*{idShop}" />
    <p>Count: <input type="number" th:field="*{count}" />
    <p>Cost: <input type="number" th:field="*{cost}" />
    </p>
    <p><input type="submit" value="Add purchase" /></p>
</form>

<form action="#" th:action="@{/purchase/purchases}" th:method = "get">
    <p><input type="submit" value="Get purchases" />
</form>

<form action="#" th:action="@{/purchase/purchases/id}" th:method = "get">
    <p>Get purchase id: <input type="number"  name = "id" size="20" /></p>
    <p><input type="submit" value="Get purchase" />
</form>

<form action="#" th:action="@{/purchase/purchases/id}" th:method = "delete">
    <p>Remove purchase id: <input type="number"  name = "id" size="20" /></p>
    <p><input type="submit" value="Remove purchase" />
</form>

<form action="#" th:action="@{/purchase/purchases/id}" th:object="${purchase}" th:method="put">
    <p>Id purchase: <input type="number" th:field="*{id}" /></p>
    <p>Id book: <input type="number" th:field="*{idBook}" /></p>
    <p>Id customer: <input type="number" th:field="*{idCustomer}" /></p>
    <p>Id shop: <input type="number" th:field="*{idShop}" />
    <p>Count: <input type="number" th:field="*{count}" />
    <p>Cost: <input type="number" th:field="*{cost}" />
    <p><input type="submit" value="Put purchase" /></p>
</form>

<form action="#" th:action="@{/purchase/purchases/id/cost}" th:method="put">
    <p>Id purchase: <input type="number"  name = "id" size="20" /></p>
    <p>Cost: <input type="number" name="cost" /></p>
    <p><input type="submit" value="Put cost purchase" /></p>
</form>

<form action="#" th:action="@{/customer/customers/id/count}" th:method="put">
    <p>Id purchase: <input type="number"  name = "id" size="20" /></p>
    <p>Count: <input type="number" name="count" /></p>
    <p><input type="submit" value="Put count purchase" /></p>
</form>

</body>
</html>
