<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Shop</h1>
<form action="#" th:action="@{/shop/shops}" th:object="${shop}" method="post">
    <p>Id shop: <input type="number" th:field="*{id}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Location: <input type="text" th:field="*{location}" /></p>
    <p>Discount: <input type="number" th:field="*{discount}" /></p>
    <p><input type="submit" value="Add shop" /></p>
</form>

<form action="#" th:action="@{/shop/shops}" th:method = "get">
    <p><input type="submit" value="Get shops" />
</form>

<form action="#" th:action="@{/shop/shops/id}" th:method = "get">
    <p>Get shop id: <input type="number"  name = "id" size="20" /></p>
    <p><input type="submit" value="Get shop"/>
</form>

<form action="#" th:action="@{/shop/shops/id}" th:method = "delete">
    <p>Remove shop id: <input type="number"  name = "id" size="20" /></p>
    <p><input type="submit" value="Remove shop" />
</form>


<form action="#" th:action="@{/shop/shops/id}" th:object="${shop}" method="put">
    <p>Id shop: <input type="number" th:field="*{id}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Storage: <input type="text" th:field="*{location}" /></p>
    <p>Cost: <input type="number" th:field="*{discount}" /></p>
    <p><input type="submit" value="Put shop" /></p>
</form>


<form action="#" th:action="@{/shop/shops/id/name}" th:method="put">
    <p>Id shop: <input type="number"  name = "id" size="20" /></p>
    <p>Name: <input type="text" name="name" /></p>
    <p><input type="submit" value="Put name shop" /></p>
</form>

<form action="#" th:action="@{/book/books/id/location}" th:method="put">
    <p>Id shop: <input type="number"  name = "id" size="20" /></p>
    <p>Cost: <input type="text" name="location" /></p>
    <p><input type="submit" value="Put storage book" /></p>
</form>

</body>
</html>
